In [1]:
import pandas as pd

In [2]:
scores_df = pd.read_csv('https://raw.githubusercontent.com/BuzzFeedNews/figure-skating-scores/master/data/tidy/judge-scores.csv')

In [3]:
aspects_df = pd.read_csv('https://raw.githubusercontent.com/BuzzFeedNews/figure-skating-scores/master/data/tidy/judged-aspects.csv')

In [4]:
scores_df.head()

    aspect_id judge  score
0  00034b9414    J1   9.00
1  00034b9414    J2   9.00
2  00034b9414    J3   8.75
3  00034b9414    J4   9.25
4  00034b9414    J5   9.00

In [5]:
aspects_df.head()

,aspect_id,performance_id,section,aspect_num,aspect_desc,info_flag,credit_flag,base_value,factor,goe,ref,scores_of_panel
0,00034b9414,b639d77459,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,9.07
1,0004dd08d6,9589bb2ebf,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,6.64
2,000b8b5070,71d2b1b597,components,NaN,Performance,NaN,NaN,NaN,1.0,NaN,NaN,7.68
3,000cec97c9,41a2345881,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,4.71
4,000df5399a,b017147b2f,elements,1.0,3Tw2,NaN,NaN,5.8,NaN,-0.2,NaN,5.60

In [6]:
#aspects_df_drop = aspects_df.dropna()

In [7]:
#aspects_df_drop.head()

In [8]:
scores_df_merge = scores_df.merge(aspects_df, how = 'inner')

In [9]:
scores_df_merge

,aspect_id,judge,score,performance_id,section,aspect_num,aspect_desc,info_flag,credit_flag,base_value,factor,goe,ref,scores_of_panel
0,00034b9414,J1,9.00,b639d77459,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,9.07
1,00034b9414,J2,9.00,b639d77459,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,9.07
2,00034b9414,J3,8.75,b639d77459,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,9.07
3,00034b9414,J4,9.25,b639d77459,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,9.07
4,00034b9414,J5,9.00,b639d77459,components,NaN,Transitions,NaN,NaN,NaN,0.8,NaN,NaN,9.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214526,fff81cacfb,J5,1.00,ba47e4e8f3,elements,2.0,1MB4+kpYYY,NaN,NaN,5.0,NaN,1.11,NaN,6.11
214527,fff81cacfb,J6,1.00,ba47e4e8f3,elements,2.0,1MB4+kpYYY,NaN,NaN,5.0,NaN,1.11,NaN,6.11
214528,fff81cacfb,J7,2.00,ba47e4e8f3,elements,2.0,1MB4+kpYYY,NaN,NaN,5.0,NaN,1.11,NaN,6.11
214529,fff81cacfb,J8,2.00,ba47e4e8f3,elements,2.0,1MB4+kpYYY,NaN,NaN,5.0,NaN,1.11,NaN,6.11
214530,fff81cacfb,J9,2.00,ba47e4e8f3,elements,2.0,1MB4+kpYYY,NaN,NaN,5.0,NaN,1.11,NaN,6.11